.carou img{
    height: 100%;
    z-index: -2;
}

.carou{
    width: 60vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.carou div{
    height: 100vh;
    overflow: hidden;
}

.carou div h1{
    position: absolute;
    bottom: -100px;
}

.progress{
    display: block;
    height: 100px;
    width: 100px;
    stroke: #fff;
    stroke-width: 2px;
    stroke-dashoffset: 500px;
    stroke-dasharray: 500px;
    border-radius: 50%;
}