* {
  --circlesize: 98vw;
  --homefontsize: 20px;
  --homebuttoncolor: rgb(255, 0, 55);
}

/* This marks the start of the home page header design which contains only the graphics, profile picture and the build resume button which is all inside a dark background with few falling objects */

.homedec {
  height: var(--circlesize);
  border: 0.5px solid rgba(251, 243, 243, 0.128);
  background-color: rgba(255, 255, 255, 0.035);
  width: var(--circlesize);
  position: absolute;
  border-radius: 50%;
  top: calc(var(--circlesize) / -1.5);
  left: 0px;
  z-index: -1;
}

.homebox {
  background-color: transparent;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.homebox div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: var(--homefontsize);
  font-weight: 400;
}

.homebox img {
  height: 200px;
  border-radius: 50%;
}

.homebox button {
  background-color: var(--homebuttoncolor);
  border: 1px solid transparent;
  padding: 10px 30px;
  border-radius: 100px;
  font-size: calc(var(--homefontsize));
  cursor: pointer;
  transition: all 0.5s ease;
}

.homebox button:hover {
  border: 1px solid var(--homebuttoncolor);
  background-color: transparent;
}

.home-items {
  height: 15px;
  width: 15px;
  border: 3px solid cyan;
  position: absolute;
  z-index: -1;
  top: 100px;
  animation-name: falling;
  animation-duration: 10s;
  animation-timing-function: cubic-bezier(0.36, 0.16, 0.79, 0.55);
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
}

.home-tri {
  border-top: none;
  border-left: none;
}

.home-triangle {
  width: 0px;
  height: 0px;
  left: 500px;
  border: 10px solid transparent;
  border-bottom: 10px solid cyan;
  animation-delay: 0.5s;
}

.home-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid yellowgreen;
  right: 500px;
  border-bottom: 3px solid transparent;
  animation-delay: 1s;
}
@keyframes falling {
  0% {
    top: 10px;
    transform: rotate(45deg);
  }
  100% {
    top: 1000px;
    transform: rotate(360deg);
  }
}

/* This marks the end of the header */

/* This marks the start of the section 1 of the home page which is meant to say what our website's sole purpose is. */

.home-section1 {
  background-color: white;
  color: black;
  padding: 5% 15%;
  border: 2px solid rgb(255, 145, 0);
  border-left: none;
  border-right: none;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.522);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-section1 div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 70vw;
  gap: 100px;
}

.home-section1 img {
  height: 500px;
}

.home-section1 section{
  max-width: 50%;
}

.home-section1 section p,
.home-section1 section h2 {
  color: black;
  font-family: "Poppins", "sans-serif";
}

.home-section1 section h2 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.75rem;
}

.home-section1 section p {
  font-weight: 400;
  margin: 20px;
  margin-left: 0;
  text-align: justify;
}
.home-section1 section button {
  background-color: var(--homebuttoncolor);
  border: 1px solid transparent;
  padding: 10px 30px;
  border-radius: 100px;
  font-size: calc(var(--homefontsize) / 1.2);
  cursor: pointer;
  transition: all 0.5s ease;
}

.home-section1 section button:hover {
  border: 1px solid var(--homebuttoncolor);
  background-color: transparent;
  color: var(--homebuttoncolor);
}

/* This marks the end of the section 1 */

/* This marks the start of the part where the user can choose his resume template */

.home-resume-samples {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 8% 15%;
}
.home-resume-samples span{
  font-size: .9rem;
  font-weight: 200;
}
.home-resume-samples h2{
  font-size: 2rem;
  font-weight: 600;
  margin: 5px;
  margin-bottom: 10px;
}
.home-resume-samples p{
  width: 41%;
  font-weight: 200;
  text-align: center;
  line-height: 30px;
}
.home-resume-samples div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 50px 0px;
}
.home-resume-samples div img{
  height: 500px;
}