* {
  --circlesize: 98vw;
  --homefontsize: 20px;
  --homebuttoncolor: rgb(255, 0, 55);
}

/* This marks the start of the home page header design which contains only the graphics, profile picture and the build resume button which is all inside a dark background with few falling objects */

.homedec {
  height: var(--circlesize);
  border: 0.5px solid rgba(251, 243, 243, 0.128);
  background-color: rgba(255, 255, 255, 0.035);
  width: var(--circlesize);
  position: absolute;
  border-radius: 50%;
  top: calc(var(--circlesize) / -1.5);
  left: 0px;
  z-index: -1;
}

.homebox {
  background-color: transparent;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.homebox div section{
  height: 300px;
  width: 300px;
  border-radius: 50%;
  overflow: hidden;
}

.homebox div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: var(--homefontsize);
  font-weight: 400;
}

.homebox img {
  height: 100%;
  transform: translateX(-50px);
}

.homebox button {
  background-color: var(--homebuttoncolor);
  border: 1px solid transparent;
  padding: 10px 30px;
  border-radius: 100px;
  font-size: calc(var(--homefontsize));
  cursor: pointer;
  transition: all 0.5s ease;
}

.homebox button:hover {
  border: 1px solid var(--homebuttoncolor);
  background-color: transparent;
}

.home-items {
  height: 15px;
  width: 15px;
  border: 3px solid cyan;
  position: absolute;
  z-index: -1;
  top: 100px;
  animation-name: falling;
  animation-duration: 10s;
  animation-timing-function: cubic-bezier(0.36, 0.16, 0.79, 0.55);
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
}

.home-tri {
  border-top: none;
  border-left: none;
}

.home-triangle {
  width: 0px;
  height: 0px;
  left: 500px;
  border: 10px solid transparent;
  border-bottom: 10px solid cyan;
  animation-delay: 0.5s;
}

.home-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid yellowgreen;
  right: 500px;
  border-bottom: 3px solid transparent;
  animation-delay: 1s;
}
@keyframes falling {
  0% {
    top: 10px;
    transform: rotate(45deg);
  }
  100% {
    top: 1000px;
    transform: rotate(360deg);
  }
}